<div class="footer-1200">
    <div>
        <h2>INFORMACION</h2>
        <ul>
            <li><a href="/">Sobre Nosotros</a></li>
            <li><a href="/">Trabaja con Nosotros</a></li>
        </ul>
    </div>
    <div>
        <h2>SERVICIO AL CLIENTE</h2>
        <ul>
            <li><a href="/">Preguntas Frecuentes</a></li>
            <li><a href="/">Contacto</a></li>
            <li><a href="/">Tips de Seguridad</a></li>
            <li><a href="/">Formas de Pago</a></li>
            <li><a href="/">Politicas de Privacidad</a></li>
            <li><a href="/">Politicas de Envios</a></li>
            <li><a href="/">Devoluciones y Cancelaciones</a></li>
        </ul>
    </div>
    <div>
        <h2>FORMAS DE PAGO</h2>
        <img src="/images/formas-pago.PNG" alt="Formas de Pago">
    </div>
    <div class="logos-social-media">
        <h2>REDES SOCIALES</h2>
        <img src="/images/facebook.png" alt="">
        <img src="/images/twitter.png" alt="">
        <img src="/images/instagram.png" alt="">
        <img src="/images/whatsapp.png" alt="">
        <img src="/images/youtube.png" alt="">                                
    </div>
    <div class="terminos">
        <p><span style="color: cornflowerblue;">Terminos y Condiciones </span> | <span style="color: cornflowerblue;"> Aviso de Privacidad</span>   2021 Grupo4. Todos los Derechos
            Reservados
        </p>
    </div>
</div>

<div class="footer">
    <div class="elemento-footer">
        <h2>INFORMACION</h2><i class="fas fa-plus"></i>
    </div>
    <div class="elemento-footer">
        <h2>SERVICIO AL CLIENTE</h2><i class="fas fa-plus"></i>
    </div>
    <div class="elemento-footer">
        <h2>REDES SOCIALES</h2><i class="fas fa-plus"></i>
    </div>
    <div class="elemento-footer">
        <h2>FORMAS DE PAGO</h2><i class="fas fa-plus"></i>
    </div>
    <div class="terminos">
        <p><span style="color: cornflowerblue;">Terminos y Condiciones </span> | <span style="color: cornflowerblue;"> Aviso de Privacidad</span>   2021 Grupo4. Todos los Derechos
            Reservados
        </p>
    </div>
</div>