<head>
    <script src="/scripts/script_index.js" defer></script>
</head>
<div class="contendor-main">
    <section >
        
        <div id="todos-productos">                                                        
        </div>
    </section>
</div>