<head>
    <script src="/scripts/script_index.js" defer></script>
</head>
<div class="contendor-main">
    <section >
        <h1 id="playstation"  class="titulares">Todos los Productos</h1>
        <div id="todos-productos"class="caja-wrap">                                                        
        </div>
    </section>
</div>