*{
    box-sizing: border-box;    
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #5a3e87;
}

.nav-bar {
    
    margin: 5% 5% 0 5%;
    width: 90%;
    
}

#logo{
    width: 100%;
    max-width: 600px;
    height: 200px;
}

.contenedor {
    border: darkgray solid 2px;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 16px;
    width: 368px;
    
}

.margen-login-register {
   
    width: 368px;
    height: 370px;
}

.contenedor-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tab-items{
    display: flex;
    justify-content: space-around;
    text-align: center; margin: 10px 0;
    

}
.marco {
    width: 100%;
    border: 1px solid #ccc;
    font-weight: 600;

}

#margen-login-register {
    
    border: solid red 1px;
}

p,h1,h2,h3,h4,a,input,button,li,label {
    font-family: 'Oswald', sans-serif;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    font-family: 'Oswald', sans-serif;
}


form input {
    outline: none;
    
}
.btn-container{
    display: flex;
    justify-content: center;
}

.btn-login {
    width: 90%;
    background-color: #7e3e87;
    color: white;
    border: 0;
    border-radius: 4px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.btn-login:hover {
    background-color: #5a3e87;
}


.footer {
    display: flex;
    align-items:flex-start;
    flex-flow: column;    
    background-color: #f1f1f2;
    width: 100%;   

}

.elemento-footer{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    border-bottom: grey solid 4px;
    margin: 8px;
    margin-right: 16px;
    width: 95%;
    
    
}

.terminos {
    margin: 8px;
}

.detalles-producto label:hover, .caracteristicas label:hover {
    color: #5a3e87;
}

.footer-1200 {
    display: none;
}


@media(min-width: 768px) {

    .footer{
        display: none;        
    }
    .footer-1200 ul li {
        margin-left: -40px;
    }
    .footer-1200{
        display: flex;  
        justify-content: space-evenly;      
        flex-wrap: wrap;
        margin-bottom: 16px;
        background-color: #FAFAFA;

    }

    .footer-1200  ul > li > a{
        text-decoration: none;
        color: black;
    }

    .footer-1200  ul > li > a:hover{
        color: #5a3e87;
    }

    .footer-1200 ul  {
        list-style-type: none;
        margin: 0px
    }

    .footer-1200  h2 {
        margin-bottom: 0px;
    }

    .logos-social-media {                   
        display: inline-block;        
        align-items: stretch;
        
        
    }

    .logos-social-media > img {
        max-width: 25px;
        height: auto;
        margin: 5px;
        align-items: center;
        
    }    

    
}