*{
    box-sizing: border-box;
}

body{
    position: relative;
    top: 56px;
}

p,h1,h2,h3,h4,a,input,button,li,label {
    font-family: 'Oswald', sans-serif;
}

/*Nuevo header*/
header {
    background-color: #FFF;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
/*id hamburguer*/
#hamburguer{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}
.contenedor-login-fas{
    width: 100%;
    margin: 5px;
}
#bars{
    background-color: #5a3e87;
    border-radius: 5px;
    padding: 5px;
}
.fa-bars {
    color: white;
}
/*fin id hamburguer*/
/*id logo-header*/
#logo-header {
    width: 20%;
}
#logo-header img {
    max-width: 100%;
    height: 56px;  
}
/*id logo-header*/
/*id search*/
#search {
    width: 50%;
    padding: 6px;
}
#form-search {
    border-radius: 5px;
    border: solid #5a3e87 2px;
    display: flex;
    height: 44px;
}
#buscador {
    outline: none;
    border-radius: 5px;
    border: 0;
    width: 80%;
}
#boton-search {
    border: 0;
    width: 20%;
    border-radius: 3px;
    color: white;
    background-color: #5a3e87;
    text-align: center;
}
.fa-search{
    color: white;
}

/* fin id search*/
/*id login*/
#login{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}
.contenedor-login-fas{
    width: 100%;
    margin: 5px;
}
#user {
    display: none;
}
#cart{
    background-color: #5a3e87;
    border-radius: 5px;
    padding: 5px;
    height: 45px;
}
.fa-shopping-cart, .fa-user{
    color: white;
}

#imgUserLogged {
    height: 100%;
    border-radius: 100%;
    border: solid white 1px;
} 
.navbar-hamburguer{
    background-color: #FFF;
    position: absolute;
    left: 0;
    top: 56px;
    width: auto;
    height: auto;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
.navbar-hamburguer a{
    list-style: none;
    text-decoration: none;
    color: #5a3e87;
}
.navbar-hamburguer a:hover{
    color: white;
}
.li-hover:hover{
    background-color: #5a3e87;
}


input[type="checkbox"]:checked + .navbar-hamburguer{
    display: block;
}
/* fin id login*/
/*Fin Nuevo Header*/



/*main*/
 .cuerpo2{
    margin: 0 5%;
    width: 90%;
    position: relative;
}
img{
    width: 100%;
}
#imagen-banner{
    display: none;
    height: 50PX;
}
.contenedor-imagenes-carrito{
    margin-top: 40px;
    

}

.contenedor-imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
       
}
.imagenes{
    display: none;
}
#imgbody{
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


.imagen-principal{
    width: 70%;
    display: flex;
    justify-content: center;
}
.detalles{
    margin: 5%;
}

#titulo-juego{
    font-size: 24px;
    font-weight: bold;
}

.precio{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 24px;
    font-weight: bold;
}
#discount{
    color: #5a3e87;
}

.final-price{
    font-size: 28px;
    font-weight: bold;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.label-productCart {
    
    width: 20%;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    
    
}
.espacio-form{
    width: 5%;

}
.btn-productCart {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}
.btn-productCart:hover {
    background-color: #5a3e87;
}
.btn-productCart-edit {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}
.btn-productCart-delete {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.btn-productCart-edit:hover {
    background-color: chocolate;
}
.btn-productCart-delete:hover {
    background-color: red;
}
.btn select{
    background-color: white;
    outline: 0;
    border-radius: 4px;
    border: solid cornflowerblue 2px;
}
.btn select:hover {
    border: #5a3e87 solid 2px;
}
.descripcion-envio{
    margin-top: 5%;
    border: solid 0.5px grey;
    border-radius: 8px;
}
.content-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-size{
    width: 50%;
    margin: 10px;
}


.descripcion{
    
    margin-top: 5% 5%;
    font-size: 24px;
    font-weight: bold;
    
}

.detalles-producto, .caracteristicas{
    
    margin: 0 5%;
    padding: 20px;
}
.espacio{
    margin-top: 5%;
    border-bottom: grey solid 1px;
}
.envio{
    padding: 3%;
    color: green;
}
#letra-envio{
    color: black;
}



.navbar__menu2, .navbar__menu3{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.navbar__menu2 li, .navbar__menu3 li{
    color: black;
    margin-top: 5px;
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
}
input[type="checkbox"]:checked + .navbar__menu2, 
input[type="checkbox"]:checked + .navbar__menu3{
    display: block;
}





/*----------------*/



  .footer {
    margin-top: 50px;
    display: flex;
    align-items:flex-start;
    flex-flow: column;    
    background-color: #f1f1f2;
    width: 100%;   

}

.elemento-footer{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    border-bottom: grey solid 4px;
    margin: 8px;
    margin-right: 16px;
    width: 95%;
    
    
}

.terminos {
    margin: 8px;
    text-align: center;
}

.detalles-producto label:hover, .caracteristicas label:hover {
    color: #5a3e87;
}

.footer-1200 {
    display: none;
}

@media (min-width: 576px) {
    /*Nuevo header*/
    #hamburguer {
        width: 15%;
    }
    #logo-header {
        width: 20%;
    }
    #search {
        width: 50%;
    }
    #login {
        width: 15%;
    }
}

@media(min-width: 768px){
    /*Nuevo header*/
    /*Nuevo header*/
    #hamburguer {
        width: 10%;
    }
    #logo-header {
        width: 10%;
    }
    #search {
        width: 60%;
    }
    #buscador {
        width: 85%;
    }
    #boton-search {
        width: 15%; 
    }
    #login {
        width: 20%;
    }
    #user {
        display: block;
        background-color: #5a3e87;
        color: white;
        border-radius: 5px;
        padding: 5px;
    }
    /*Fin Nuevo header*/
    .imagenes{
        display: block; 
    }

    #imgbody{
        
        width: 100px;
        
    }
    .vista768{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .contenedor-imagenes-carrito{
        margin-left: 50px;
    }
    .contenedor-imagenes-carrito, .detalles{
        width: 50%;
    }

    /*footer*/
    .footer{
        display: none;
    }
    .footer-1200 ul li {
        margin-left: -40px;
    }
    .footer-1200{
        margin-top: 50px;
        display: flex;  
        justify-content: space-evenly;      
        flex-wrap: wrap;
        margin-bottom: 16px;
        background-color: #FAFAFA;

    }

    .footer-1200  ul > li > a{
        text-decoration: none;
        color: black;
    }

    .footer-1200  ul > li > a:hover{
        color: #5a3e87;
    }

    .footer-1200 ul  {
        list-style-type: none;
        margin: 0px
    }

    .footer-1200  h2 {
        margin-bottom: 0px;
    }

    .logos-social-media {                   
        display: inline-block;        
        align-items: stretch;
        
        
    }

    .logos-social-media > img {
        max-width: 25px;
        height: auto;
        margin: 5px;
        align-items: center;
        
    }

    /*fin footer*/
}

@media (min-width: 992px) {
    /*Nuevo header*/
    #hamburguer {
        width: 8%;
    }
    #logo-header {
        
        width: 8%;
    }
    #search {
        
        width: 68%;
    }
    #buscador {
        width: 90%;
    }
    #boton-search {
        width: 10%;
        
    }
    #login {
        width: 16%;
    }
}

@media (min-width: 1200px) {
    /*Nuevo header*/
    #hamburguer {
        width: 5%;
    }
    #logo-header {
        width: 10%;
    }
    #search {
        width: 75%;
    }
    #buscador {
        width: 94%;
    }
    #boton-search {
        width: 6%;
        
    }
    #login {
        width: 10%;
    }
}
