<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/index.css">    
    
</head>
<body>
    <%- include('../partials/header');%>
    <div id="userLogged">
    
    </div>
    <main>
    <div class="banner-container">
        <img id="banner" src="/images/img-home-banner.jpg" alt="banner"/>        

    </div>
    <div id="categorias">
        <div class="camisetas">
            
            <h2>Camisetas</h2>
            <a href="http://localhost:3030/productos/categoria/5">
                <img src="/images/shirts-categoria.jpg" alt="camisetas">
            </a>
        </div>
        <div class="pantalones">
            <h2>Pantalones</h2>
            <a href="http://localhost:3030/productos/categoria/15">
                <img src="/images/jeans-categoria.jpg" alt="panatalones">
            </a>
        </div>
        <div class="gorras">
            <h2>Gorras</h2>
            <a href="http://localhost:3030/productos/categoria/25">
                <img src="/images/gorras-categoria.jpg" alt="gorras">
            </a>
        </div>
        
        
        
    </div>     
        
    <%- include('../partials/listProducts.ejs') %>                                        
        
                    
        

    </main>

<footer >
    <%- include('../partials/footer') %> 
</footer>
    
</body>
</html>