<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <%- include('../partials/head'); %>
    <script src="/scripts/script_products_categoria.js" defer></script>
</head>
<main>
    <%- include('../partials/header');%>
    <div class="contendor-main">
        <section >
            
            <div id="todos-productos">                                                        
            </div>
        </section>
    </div>
    <footer >
        <%- include('../partials/footer') %> 
    </footer>
</main>
</html>
