<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/productCart.css">
</head>
</head>
<body>
    <header>
        <%- include('../partials/header') %> 
    </header>
    
    <div class="contenedor">
        <div class="detalles-envio">
        <h2>Tu Carrito de Compra</h2>
        <h3>Envio a domicilio</h3>
        <p>Entrega Estimada: Antes de las 21:00 del dia de mañana</p>
        <p>+ $49.00 MXN de envio</p>
        </div>
        
        <article>            
            <div class="articulos-contenedor">
                <h4 style="display: block;">Producto(s)</h4>
                
            </div>
            <div>

            </div>
        </article>

        <div class="total-pagar">
            <h3>Total a Pagar: </h3>
            <h3>$1448.00</h3>
        </div>
    </div>
    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    
</body>
</html>