<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/create.css">
    <script src="/scripts/script_update_product.js" defer></script>
</head>
<body>
    <div class="contenedor-general">
        <header>
            <div class="nav-bar">            
                <a href="/"><img id="logo" src="/images/logoGameUp.png"/></a>
                </div>
        </header>
        <div  class="contenedor margen-login-register">
            <div class="tab-items">
                <div class="marco">
                    <p>Crear producto</p>
                </div>
            </div>
            <div class="tab-items">
                <div id="errores" class="marco">                    
                </div>
            </div>
            <form onsubmit="return doActionRegistro();"  method="POST" enctype=multipart/form-data>
                <label for="name">Nombre del producto:</label>
			    <input type="text" id="name" name="name" placeholder="Ej: Camiseta de Star Wars" class="form-input" value="">
                <label for="price" class="form-label">Precio del producto:</label>
				<input type="text" id="price" name="price" placeholder="Ej: 400" class="form-input" value="">
                <label for="discount" class="form-label">Descuento:</label>
                <select name="discount" id="discount" class="form-input">					
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
				</select>
                <label for="image">Imagen del producto</label>
                    <input  type="file" 
                            id="image" 
                            name="image" 
                            placeholder="Ejemplo: coloca una direccion URL" 
                            class="form-input"
                            value="https://res.cloudinary.com/diwoutxcy/image/upload/v1629681085/kbcuforslejzhujh2lty.jpg"                            >
                            <button type="button" onclick="cargarImagen();">Mostrar</button>
                <div class="img-producto">
                    <!-- <img id="img-prod" src="https://res.cloudinary.com/diwoutxcy/image/upload/v1629681085/kbcuforslejzhujh2lty.jpg" style="max-width: 600px;"> -->
                </div>
                            
                <br>
                <br>
                <label for="category" class="form-label">Categoría:</label>
				<select name="category" id="category" class="form-input">					                    
				</select>
                
                <label for="estatus" class="form-label">Estatus:</label>
                <select name="estatus" id="estatus" class="form-input">					
				</select>
                
                <div >
                    <label for="description" class="form-label">Descripción:</label>
                    <textarea name="description" id="description" class="form-input"></textarea>
                </div>
                <div class="btn-container">
                    <button class="btn-login" type="submit">Guardar producto</button>
                </div>
            </form>


        </div>
    </div>
    <footer >
        <%- include('../partials/footer') %>         
     </footer>
</body>
</html>