<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <script src="/scripts/script_product_detail.js" defer></script>
</head>
<body>       
    <header>
        <%- include('../partials/header') %>        
    </header>
    <div class="contenedor"> 
        
    </div>
    <footer >
       <%- include('../partials/footer') %> 
    </footer>
</body>
</html>